%p#notice= notice

%p
  %b Site name:
  = @site.site_name

%p
  %b Description:
  = @site.description

%p
  %b Url:
  = @site.url

%p
  %b Pages #{@site.pages.count}
  %ul
    - @site.pages.each do |page|
      %li 
        = link_to page.path, @site.url + page.path
        Response Time (#{page.response_time}ms)
        %ul
          - page.reports.each do |report|
            %li #{report.message}

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
