- content_for :head do
  = stylesheet_link_tag 'site_show'

%header
  %h1= @site.site_name
  %h2= @site.description 
  %p= link_to "Visit Site", "#{@site.url}:#{@site.port}"
  %p= link_to 'Edit', edit_site_path(@site)

#pages
  - @site.pages.each do |page|
    .page{ :class => page_status_class(page) }
      .response_code= page.response_code
      = link_to page.path, page.uri
      - if page.response_time
        .response_time #{page.response_time}ms
      %ul.reports
        - page.reports.each do |report|
          %li #{report.message}
        - page.page_reports.each do |report|
          %li #{report.message}
